*{
    font-family: 'roboto',sans-serif;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
#btn{
    padding: 8px 16px;
    border: 2px solid black;
    background-color: transparent;
}
#btn:hover{
    background-color: black;
    color: white;
}
form{
    display: grid;
    width: fit-content;
    height: fit-content;
    background-color: blanchedalmond;
    padding: auto;
}