*{
    font-family: 'roboto',sans-serif;
    margin: 0;
    padding: 0;
}
html{
    background-color: rgba(32, 32, 32, 1);
}
header{
    cursor: default;
    font-size: larger;
    padding: 20px 24px;
    color: white;
    background-color: rgb(32, 32, 32);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, .5);
}
label{
    margin-top:  -2rem;
    float: right;
}
.links ul{
    padding: 8px 16px;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 8px 16px;
}
.links ul li a{
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.links ul li{
    padding: 8px 16px;
    display: inline-block;
}
.links{
    background-color: rgba(22, 22, 22, .3);
}
.cards{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.card{
    border-radius: 15px;
    margin: 1rem;
    width: 300px;
    height: 200px;
    background-color: cadetblue;
}
#education-card{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 38, 255);
}
#education-card:hover{
    background-color: rgb(0, 96, 206);
}
#education-text{
    font-weight: bolder;
    font-size: 3.3rem;
    color: white;
}
a{
    text-decoration: none;
}
#skills-card{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 187, 0);
}
#skills-card:hover{
    background-color: rgb(253, 210, 68);
}
#skills-text{
    font-weight: bolder;
    font-size: 3.3rem;
    color: white;
}
#project-card{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 138, 16);
}
#project-card:hover{
    background-color: rgb(22, 158, 40);
}
#project-text{
    font-weight: bolder;
    font-size: 3.3rem;
    color: white;
}
#about-card{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 0);
}
#about-card:hover{
    background-color: rgb(245, 47, 47);
}
#about-text{
    font-weight: bolder;
    font-size: 3.3rem;
    color: white;
}
#hobby-card{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 0, 255);
}
#hobby-card:hover{
    background-color: rgb(216, 61, 255);
}
#hobby-text{
    font-weight: bolder;
    font-size: 3.3rem;
    color: white;
}
.objective h1{
    font-size: 2rem;
    color: white;
    padding: 20px;
}
.objective p{
    border: 1px solid white;
    padding: 1rem;
    font-size: 1.5rem;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    color: white;
}
.quats{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
}